---
import Base from "../layouts/Base.astro";
---
<Base title="Day Trading 101 – Einstieg">
  <h2>Willkommen</h2>
  <p>Kurz, klar, kostenlos. Starte mit dem Kurs.</p>
  <ul>
    <li><a href="/kurs/">Zum Kurs</a></li>
    <li><a href="/glossar/">Glossar</a></li>
    <li><a href="/ressourcen/">Ressourcen</a></li>
  </ul>
</Base>
